 @charset "UTF-8";

 /*aboutArea*/

 .aboutArea {
     background: -webkit-linear-gradient(top, #fff 0%, #fff 80%, #f5f5f5 80%, #f5f5f5 100%);
     background: -o-linear-gradient(top, #fff 0%, #fff 80%, #f5f5f5 80%, #f5f5f5 100%);
     background: linear-gradient(to bottom, #fff 0%, #fff 80%, #f5f5f5 80%, #f5f5f5 100%);
 }


 .aboutArea .UnitTitle {
     margin-bottom: 3rem;

 }

 .UnitTitle {
     border-color: #f5f5f5;
 }

 .UnitTitle span {
     color: #f5f5f5;
 }

 .aboutArea .Img .innerImg {
     margin: 0 3px;
     padding-top: 100%;
 }

 @media(max-width: 991px) {
     .aboutArea .Img .innerImg {
         padding-top: 70%
     }
 }